# Konfigurasi Koneksi PostgreSQL ROOMBOOK (TU SEKJEN)
PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/roombook_tusekjen
PGUSER=postgres
PGHOST=localhost
PGDATABASE=roombook_tusekjen
PGPASSWORD=postgres
PGPORT=5432
